﻿@using Microsoft.AspNet.Identity
@model TeamPOINTless.Areas.Admin.Models.Page
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Team Pointless</title>
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Areas/Admin/Content/Stylesheet.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/Scripts/jquery-2.1.1.min.js")
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Vis Website", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { area = "", id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Hej " + User.Identity.GetUserName(), "Index", "Manage", new { area = "" }, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                            </li>
                        </ul>
                    }
                }
                @*                <ul class="nav navbar-nav">*@
                    @*                </ul>*@
                </div>
            </div>
        </div>

        <div class="container body-content">
            @* Breadcrumbs *@
            <h4>
                @*TODO We should not have logic in views*@
                @Html.ActionLink("Admin", "Index", "Content")
                @if (ViewContext.RouteData.Values["controller"] != "Home")
                {
                    @:> @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())
            }
                @if (ViewContext.RouteData.Values["action"] != "Index")
                {
                    @:> @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
            }
            </h4>
            <div class="container">
                <div class="row">
                    @* Left menu*@
                    <div class="col-md-3">
                        @* TODO We should not have logic in views *@
                        @if (!@ViewContext.RouteData.GetRequiredString("action").ToLower().Equals("index"))
                        {
                            <br /><br />
                            @Html.ActionLink("Menu", "Index", "Content")
                            <br /><br />
                            if (!@ViewContext.RouteData.GetRequiredString("action").ToLower().Equals("content"))
                            {
                                @Html.ActionLink("Indhold område", "Content", "Content")
                            }
                            <br /><br />

                            <br />
                            <h2></h2>
                        }
                    </div>
                    @* left menu ends*@
                    @* right menu starts*@
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                    @* right menu ends*@
                </div>
            </div>

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Team Pointless</p>
            </footer>

        </div>

        @Scripts.Render("~/Scripts/tinymce/tinymce.min.js")
        @Scripts.Render("~/Scripts/teampointless/teampointless.tinymce.js")
        @RenderSection("scripts", required: false)
    </body>
</html>