﻿@model TeamPOINTless.Areas.Admin.Models.Page

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Page/_LayoutPageDetail.cshtml";

}

<script>
    var visible = 'NotVisible';
</script>

<h2>Create a @ViewData["TheSubjectTitle"] page</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SubjectId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubjectId, new { htmlAttributes = new { @class = "form-control", Value = ViewData["TheSubjectID"], ReadOnly = true } })
                @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedDateTime, new { htmlAttributes = new { @class = "form-control", Value = "", ReadOnly = true } })
                @Html.ValidationMessageFor(model => model.CreatedDateTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" id="eventdate-container">
            @Html.LabelFor(model => model.EventDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            @*            @Html.CheckBox("check", htmlAttributes: new { @id = "eventdate-checkbox", @class = "control-label col-md-1" })*@
            <div class="col-md-4" id="eventdate-editor">
                @Html.EditorFor(model => model.EventDateTime, new { htmlAttributes = new { @class = "form-control", Value = "", @id = "event-datepicker", /*placeholder = "Dato og tid skrives: 27-12-2015 20:15"*/ } })
                @Html.ValidationMessageFor(model => model.EventDateTime, "", new { @class = "text-danger" })
                <script type="text/javascript">
                    $(function () {
                        $('#event-datepicker').datetimepicker({ locale: 'da' });
                    });
                </script>
            </div>
            @Html.LabelFor(model => model.ShowEventDateTimeOnFrontPage, htmlAttributes: new { @id = "show-event-date-frontpage-label", @class = "control-label col-md-4" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.ShowEventDateTimeOnFrontPage, new { htmlAttributes = new { @id = "show-event-date-frontpage", @class = "form-control col-md-1" } })
                @Html.ValidationMessageFor(model => model.ShowEventDateTimeOnFrontPage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @id = "titletext", @class = "form-control", Value = "" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="visiblevalue">
            @Html.LabelFor(model => model.Visible, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EnumDropDownListFor(model => model.Visible, new { htmlAttributes = new { @id = "visible", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Visible, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="if-chat-then-hide">
            <div class="form-group" id="isFrontPage">
                @Html.LabelFor(model => model.IsFrontPage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.IsFrontPage, new { htmlAttributes = new { @id = "checkboxIFP", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IsFrontPage, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-8">
                    Forside vises for alle.
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @id = "content", @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" id="flickr-accountid">
                @Html.LabelFor(model => model.FlickrAccountId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FlickrAccountId, new { htmlAttributes = new { @id = "content", @class = "form-control", placeholder = "Fx 123456789@N02" } })

                    @Html.ValidationMessageFor(model => model.FlickrAccountId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" id="flickr-albumname">
                @Html.LabelFor(model => model.FlickrAlbumName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FlickrAlbumName, new { htmlAttributes = new { @id = "content", @class = "form-control", placeholder = "Tom = alle albums. Forkert navn = Ingen." } })

                    @Html.ValidationMessageFor(model => model.FlickrAlbumName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default pik-chrome" />
            </div>
        </div>
    </div>
}

<div>
    <a href="javascript:void(0);" onclick="history.go(-1);">Tilbage</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/globalize/globalize.js"></script>
    <script src="~/Scripts/globalize/cultures/globalize.culture.@(System.Threading.Thread.CurrentThread.CurrentCulture.Name).js"></script>
    <script>
        $.validator.methods.number = function (value, element) {
            return this.optional(element) ||
                !isNaN(Globalize.parseFloat(value));
        }
        $(document).ready(function () {
            Globalize.culture('@(System.Threading.Thread.CurrentThread.CurrentCulture.Name)');
        });
    </script>
    @Scripts.Render("~/Scripts/teampointless/teampointless.datetime.aspnetmvc.wtf.js")
    @Scripts.Render("~/Scripts/teampointless/teampointless.datetime.aspnetmvc.googlechrome.wtf.js")
    <script> var EventDateTimeModel = null;</script>
    @Scripts.Render("~/Scripts/teampointless/teampointless.inAdminInterfaceShoHideStuff.js")

}


