﻿@model TeamPOINTless.Areas.Admin.Models.Page

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Page/_LayoutPageDetail.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FlickrAccountId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlickrAccountId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FlickrAlbumName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlickrAlbumName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsFrontPage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFrontPage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowEventDateTimeOnFrontPage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowEventDateTimeOnFrontPage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDateTime)
        </dt>
        <dd>
            @if (!String.IsNullOrEmpty(Model.UpdatedDateTime.ToString()))
            {
                @Html.DisplayFor(model => model.UpdatedDateTime.Value);
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubjectId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubjectId)
        </dd>

    </dl>
</div>

<div>
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
</div>
<br />
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a href="javascript:void(0);" onclick="history.go(-1);">Tilbage</a>
</div>
