﻿/*@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}*/

body {
    padding-bottom: 20px;
    overflow-x: hidden; /* remove horizontal scroll*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#right-column-block {
    padding-left: 15px;
}

input[type="checkbox"]#RememberMe {
    margin-left: 0;
}

a {
    font-weight: bold;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
 *    Here comes our changes
 */
.navbar-inverse {
    /*background-color: #862530;*/ /* old bordeaux colour */
    background-color: #624740;
}

    .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

.navbar-brand {
    font-size: xx-large;
    
    font-family: 'Papyrus', 'fantasy', /* The next ones are the old font from when the site was bordeaux */ 'Comic Sans', 'Comic Sans MS', 'Chalkboard', 'ChalkboardSE-Regular', 'Marker Felt', 'Purisa', 'URW Chancery L', 'Cursive';
 
    font-weight: bold;
}


/*.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover { color: green; }*/
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    /*background-color: #862530; */ /* old bordeaux colour */
    background-color: #624740; 

}


.navbar .container {
    min-height: 150px;
}

.next-event {
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

#tagline-vi-ses {
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.nanoGalleryBreadcrumb
{
    background-color: black;
}


/* responsiv images */
img.img-responsive { display: table-cell; max-width: 100%; }


/*.navbar-right {
    background-color: yellowgreen;
    width: 100px;
}*/

/*
#navbar-nav-dropdown {
    background-color: yellowgreen;
      
}
*/






/* Make Nav bar collapse already at 1200 px*/
/*@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}*/


