﻿@*We use subject list and itereate first the subjects to get the pages. We do this to get the subject title that we need to show that a page belongs to a specific subject. The page do have the subject id it belongs to but for usability we need the subject name. Another way should be to use a pages list here in this view and then before in the controller create a viewbag that contains a list of subject names*@
@model IEnumerable<TeamPOINTless.Areas.Admin.Models.Subject>

@{
    ViewBag.Title = "Content";
}

<h1>Indhold område</h1>
<p>Antal emner: @ViewBag.SubjectsList </p>
<p>Antal sider: @ViewBag.NumberOfPages </p>

@if (Model != null)
{
    <input type="text" id="search" placeholder="Type to search for page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Pages.ElementAtOrDefault(0).Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Pages.ElementAtOrDefault(0).CreatedDateTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Pages.ElementAtOrDefault(0).UpdatedDateTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Pages.ElementAtOrDefault(0).Position)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Pages.ElementAtOrDefault(0).Visible)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Pages.ElementAtOrDefault(0).Content)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Pages.ElementAt(0).Id)
                            </th>
                            <th>
                                @Html.DisplayName("Tilhører emne med navn")
                            </th>
                            <th>
                                Tilhører
                                @Html.DisplayNameFor(model => model.Pages.ElementAt(0).SubjectId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Pages.ElementAt(0).IsFrontPage)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Pages.ElementAt(0).EventDateTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Pages.ElementAt(0).ShowEventDateTimeOnFrontPage)
                            </th>
                        </tr>
                    </thead>
                    @foreach (var subject in Model)
                    {
                        @Html.Partial("_Pages", subject.Pages, new ViewDataDictionary { { "title", subject.Title }, { "from", "contentContent" } })
                    }
                </table>
            </div>
        </div>
    </div>
}

