﻿@{
    ViewBag.Title = "Amin Menu";
}

<h1>Administrator Menu</h1>

<h4>Velkommen til admin området. </h4>
<br />
@Html.ActionLink("Håndter website indhold", "Content")<br/>
<br/>
<!--linkText, actionName, controllerName, routeValues, htmlAttributes -->
@Html.ActionLink("Håndter brugere", "Index",
    "User", null /*new {id = item.ID}*/, null)
<br/><br />
@Html.ActionLink("Håndter roller", "Index",
    "Role", null /*new {id = item.ID}*/, null)