﻿
a {
    font-weight: normal;
    font-size: x-large;
    color: /*orange*/ /*darkgreen*/ #5cb85c;
    /*http://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste/*/
    text-shadow: 1px 1px 1px #1c1c1c;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.navbar-inverse {
    background-color: black;
}

.navbar-nav > li > a {
    font-size: medium;
}

.navbar-brand {
    font-size: medium;
    font-family: inherit;
    font-weight: inherit;
}

body {
    background-color: /*#2E2E2E*/ #1C1C1C;
    color: #D8D8D8;
    padding-top: 50px;
    overflow-x: scroll; /* enable the horizontal scroll that is disabled on the pages the users see*/
}

.navbar .container {
    min-height: 50px;
}

.jumbotron {
    margin-top: 20px;
    background-color: /*#1c1c1c*/ #D8D8D8;
    color: #1c1c1c;
    /*    border-style: solid;
    border-color: #d8d8d8;*/
}
/*.jumbotron h2 span {
    color: #1c1c1c;
           text-shadow: 1px 1px 1px #1c1c1c;
    text-shadow: 1px 1px  rgba(0,0,0,0.3);
/*    background-color: #1c1c1c;
        -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px!1!;
}*/

.nav.nav-pills.nav-stacked {
    background-color: /*#862530*/ #D8D8D8;
    width: 200px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.subjects {
    color: #1c1c1c;
    text-align: center;
}

.nav.nav-pills.nav-stacked > li {
    color: #1c1c1c;
    margin-left: 20px;
}

.nav.nav-pills > li.active > a {
    color: #D8D8D8;
    background-color: /*darkgreen*/ #5cb85c;
}

form {
    /* color: #1c1c1c;*/
}

.formText {
    float: left;
}

input[type="text"], textarea {
    color: black;
    background-color: #d8d8d8;
    float: left;
}

.formAddButton {
    color: #1c1c1c;
    float: left;
}

select {
    color: black;
    background-color: #d8d8d8;
}

/*Pagination start*/
div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #000;
    color: #fff;
    margin-right: 0.5em;
}

    div.pager span.active {
        background: /*#c00*/ #5cb85c;
    }
/*Pagination end*/

.small-text-link {
    font-size: medium;
}

td {
    width: 4px;
}

.bootstrap-datetimepicker-widget {
    color: #1C1C1C;
    background-color: azure;
}
