﻿@model TeamPOINTless.Areas.Admin.Models.Subject

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDetail.cshtml";
}

<h2>Details for the subject: @Html.DisplayFor(subject => subject.Title) </h2>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(subject => subject.Title)
        </dt>

        <dd>
            @Html.DisplayFor(subject => subject.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(subject => subject.Position)
        </dt>

        <dd>
            @Html.DisplayFor(subject => subject.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(subject => subject.Visible)
        </dt>

        <dd>
            @Html.DisplayFor(subject => subject.Visible)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Tilbage", actionName: "Content", controllerName: "Content")
</p>

<br />
<br />
<br />
<h3>
    @(Model.Pages.Count > 0 ? "The subject " + Model.Title + " has these pages:" : "Subject has no pages")
    <span style="float: right;">@*TODO move into css file*@
        @Html.ActionLink(linkText: "Create New Page", actionName: "Create", controllerName: "Page", routeValues: new { id = Model.ID, title = Model.Title }, htmlAttributes: null)
    </span>

</h3>

@if (Model.Pages.Count > 0)
{
    <input type="text" id="search" placeholder="Type to search for page">
    <table class="table">
        @Html.Partial("_Pages", Model.Pages, new ViewDataDictionary { { "title", Model.Title }, { "from", "subjectDetails" } })
    </table>
}