﻿@model IEnumerable<TeamPOINTless.Models.ApplicationUser>
@{
    ViewBag.Title = "User";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutUserAndRoles.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

    @*        <th>*@
    @*            @Html.DisplayNameFor(model => model.Name)*@
    @*        </th>*@
    @*        <th>*@
    @*            @Html.DisplayNameFor(model => model.NickName)*@
    @*        </th>*@
    @*        <th>*@
    @*            @Html.DisplayNameFor(model => model.YearGroup)*@
    @*        </th>*@
    @*        <th>*@
    @*            @Html.DisplayNameFor(model => model.Address)*@
    @*        </th>*@
    @*        <th>*@
    @*            @Html.DisplayNameFor(model => model.City)*@
    @*        </th>*@
    @*        <th>*@
    @*            @Html.DisplayNameFor(model => model.PhoneNumber)*@
    @*        </th>*@
    @*        <th>*@
    @*            @Html.DisplayNameFor(model => model.Email)*@
    @*        </th>*@
    @*        <th>*@
    @*            @Html.DisplayNameFor(model => model.Work)*@
    @*        </th>*@
    @*        <th>*@
    @*            @Html.DisplayNameFor(model => model.IsAdmin)*@
    @*        </th>*@



    @*    @foreach (var item in Model)*@
    @*    {*@
    <tr>
        @*            <td>*@
        @*                @Html.DisplayFor(modelItem => item.Name)*@
        @*            </td>*@
        @*            <td>*@
        @*                @Html.DisplayFor(modelItem => item.NickName)*@
        @*            </td>*@
        @*            <td>*@
        @*                @Html.DisplayFor(modelItem => item.YearGroup)*@
        @*            </td>*@
        @*            <td>*@
        @*                @Html.DisplayFor(modelItem => item.Address)*@
        @*            </td>*@
        @*            <td>*@
        @*                @Html.DisplayFor(modelItem => item.City)*@
        @*            </td>*@
        @*            <td>*@
        @*                @Html.DisplayFor(modelItem => item.PhoneNumber)*@
        @*            </td>*@
        @*            <td>*@
        @*                @Html.DisplayFor(modelItem => item.Email)*@
        @*            </td>*@
        @*            <td>*@
        @*                @Html.DisplayFor(modelItem => item.Work)*@
        @*            </td>*@
        @*            <td>*@
        @*                @Html.DisplayFor(modelItem => item.IsAdmin)*@
        @*            </td>*@
        @*            <td>*@
        @*                @Html.ActionLink("Edit", "Edit", new { id = item.ContactId }) |*@
        @*                @Html.ActionLink("Details", "Details", new { id = item.ContactId }) |*@
        @*                @Html.ActionLink("Delete", "Delete", new { id = item.ContactId })*@
        @*            </td>*@
    </tr>
    @*    }*@

</table>

@Html.ActionLink("Tilbage til menu", "Index",
    "Content", null /*new {id = item.ID}*/, null)