﻿@{
    ViewBag.Title = "Bekræft Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Tak fordi du har bekræftet din email. @Html.ActionLink("Klik her for at logge ind", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
