﻿@using TeamPOINTless.Areas.Admin.Models
@using Page = TeamPOINTless.Areas.Admin.Models.Page
@model TeamPOINTless.Areas.Admin.Models.Page

@{
    ViewBag.Title = Model.Title;
    Layout = "~/views/shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-9">
        @if (Model != null)
        {
            <p>
                @if (!String.IsNullOrEmpty(Model.CreatedDateTime.ToString()))
                {
                    <span>Oprettet: </span>
                    @Html.DisplayFor(model => model.CreatedDateTime.Value);
                }

                @if (!String.IsNullOrEmpty(Model.UpdatedDateTime.ToString()))
                {
                    <span>&nbsp; &nbsp;Opdateret: </span>
                    @Html.DisplayFor(model => model.UpdatedDateTime.Value);
                }
            </p>
            <h2>@Html.DisplayFor(model => model.Title) </h2>

            <p>
                @Html.Raw(Model.Content)
            </p>
        }
        
        <div id="nanoGallery1"></div>
        <script>
            var flickrAccountId = (typeof '@Model.FlickrAccountId' !== 'undefined') ? '@Model.FlickrAccountId' : "";
            var whitelistName = (typeof '@Model.FlickrAlbumName' !== 'undefined') ? '@Model.FlickrAlbumName' : "";
        </script>
        
        <br />
        <div>
            <a href="javascript:void(0);" onclick="history.go(-1);">Tilbage</a>
        </div>
        <br /><br />
    </div>

    @* right column block *@
    @Html.Partial(partialViewName: "_RightColumnBlock", model: (ICollection<Page>)@ViewBag.LastFivePages)

</div>


@*<div class="row">*@
@*    <div class="col-md-9">*@
@*        <h2>Comments should be here</h2>*@
@*        <p>*@
@*            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."*@
@*        </p>*@
@*        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
@*    </div>*@
@*    <div class="col-md-3">*@
@**@
@*    </div>*@
@*</div>*@


@Scripts.Render("~/Scripts/teampointless/teampointless.nanogallery.js")