﻿@using System.Activities.Expressions
@using TeamPOINTless.Areas.Admin.Models
@*    /*So that it works on /Manage*/ and Manage/ManageLogins*@
@*@model IEnumerable<TeamPOINTless.Areas.Admin.Models.Subject>*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Team Pointless</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @*TODO check if we can move it to bottom instead of head so we dont have to wait for it before page laod *@
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/nanogallery.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/Scripts/jquery.nanogallery.min.js"></script>
 


</head>
    <body>

        @*    @Html.Partial(partialViewName:"_NavBar", model:Model)*@
        @*    /*So that it works on /Manage*/ and Manage/ManageLogins. There we use another model so we need to get subjects this way. we use the subjects in the nav bar*@
        @Html.Partial(partialViewName: "_NavBar", model: new TeamPOINTlessDbContext().Subjects.Where(v => v.Visible != VisibleEnum.NotVisible).OrderBy(p => p.Position).ToList())

        <div class="container body-content">
            <noscript>
                <style type="text/css">
                    .pagecontainer {
                        display: none;
                    }
                </style>
                <div class="noscriptmsg">
                    <h1> Du har ikke javascript slået til i din browser.</h1>
                </div>
            </noscript>
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Team Pointless</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>

</html>
