﻿@using TeamPOINTless.Areas.Admin.Models
@model IEnumerable<TeamPOINTless.Areas.Admin.Models.Subject>

<div class="navbar navbar-inverse navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Team Pointless", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
            <ul class="nav navbar-nav" id="navbar-nav-dropdown">
                @if (Model != null)
                {
                    foreach (var subject in Model)
                    {
                        var sortedVisiblePages = subject.Pages.Where(v => v.Visible != VisibleEnum.NotVisible).OrderBy(p => p.Position);
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@subject.Title<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @foreach (var page in sortedVisiblePages)
                                    {
                                        if (page.Visible == TeamPOINTless.Areas.Admin.Models.VisibleEnum.VisibleForEveryone)
                                        {
                                            @Html.ActionLink(page.Title, actionName: "Index", controllerName: "Page", routeValues: new { /*Area = "Admin",*/ id = page.Id }, htmlAttributes: null)
                                            ViewBag.AlertMessage = page.Visible;
                                        }
                                        else if (Request.IsAuthenticated &&
                                                 page.Visible == TeamPOINTless.Areas.Admin.Models.VisibleEnum.VisibleForUsers)
                                        {
                                            @Html.ActionLink(page.Title, actionName: "Index", controllerName: "Page", routeValues: new { /*Area = "Admin",*/ id = page.Id }, htmlAttributes: null)
                                            ViewBag.AlertMessage = page.Visible;
                                        }
                                        else if (Request.IsAuthenticated && User.IsInRole("Admin") &&
                                                 page.Visible == TeamPOINTless.Areas.Admin.Models.VisibleEnum.VisibleForAdmins)
                                        {
                                            @Html.ActionLink(page.Title, actionName: "Index", controllerName: "Page", routeValues: new { /*Area = "Admin",*/ id = page.Id }, htmlAttributes: null)
                                            ViewBag.AlertMessage = page.Visible;
                                        }
                                    }
                                </li>
                            </ul>

                        </li>
                    }
                }

                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Admin", "Index", "Content", new { Area = "Admin" }, new { })</li>
                }

            </ul>


        </div>
        @{
            if (Request.Url.LocalPath.Equals("/")) //if Home
            {
                if (ViewBag.nextEvent != null)
                {
                    @Html.Partial(partialViewName: "_NextEvent", model: (TeamPOINTless.Areas.Admin.Models.Page) ViewBag.nextEvent)
                }
            }
            else
            {
                <h3 id="tagline-vi-ses">- Vi SES På Banen! </h3>
            }
        }

    </div>
</div>