﻿@model TeamPOINTless.Areas.Admin.Models.Page


<script>
    var nextEventDate = (function () {
        "use strict";
        var eventDate = new Date('@ViewBag.EventtimeString');
        return { theDate: eventDate };
    }());
</script>
@if (Model != null)
{
    <div class="next-event">
        <p>
            @if (!String.IsNullOrEmpty(Model.EventDateTime.ToString()))
            {
                <span>Næste event:  </span>
                @Html.DisplayFor(model => model.EventDateTime.Value);

            }
            @*            Time left:*@&nbsp; &nbsp; &nbsp; &nbsp;
            <span id="clock"></span>
        </p>
    </div>
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.countdown.min.js")
@Scripts.Render("~/Scripts/teampointless/teampointless.countdown.js")
@Scripts.Render("~/Scripts/teampointless/teampointless.formatEventOnFrontPage.js")

@* TODO - Delete me *@ 
@*<script>*@
@*    //if no event set hide event*@
@*//    if (!'@ViewBag.EventtimeString') {*@
@*//        $('.next-event').hide();*@
@*//    }*@
@*</script>*@
