﻿<div id="right-column-block">
    <div class="col-md-3">
        <div class="row">
            <h3>Seneste sider</h3>
            @{
                foreach (var page in Model)
                {
                    if (page.Visible == TeamPOINTless.Areas.Admin.Models.VisibleEnum.VisibleForEveryone)
                    {
                        <p>@Html.ActionLink(linkText: (string)page.Title, actionName: "Index", controllerName: "Page", routeValues: new { id = page.Id }, htmlAttributes: null)</p>
                    }
                    else if (Request.IsAuthenticated &&
                             page.Visible == TeamPOINTless.Areas.Admin.Models.VisibleEnum.VisibleForUsers)
                    {
                        <p>@Html.ActionLink(linkText: (string)page.Title, actionName: "Index", controllerName: "Page", routeValues: new { id = page.Id }, htmlAttributes: null)</p>
                    }

                    //                @* TODO mix twitter bootstrap button with actionlink
                    //                    <p><a class="btn btn-default" href="Page/Index/@Html.DisplayFor(model => model.Id)">Learn more &raquo;</a></p>*@

                }
            }
            @*            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        </div>
        @*     <div class="row">
                <h2>Latest Comment should be here</h2>
                <p> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum  simili</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>*@
        <div class="row">
            <br />
            <br />
            @*Todo move scripts to script file*@
            <div id="twitter">
                <a class="twitter-share-button"
                   href="https://twitter.com/share">
                    Tweet
                </a>
            </div>
            <br/>
            <div id="google">
                <!-- Placer dette tag i din header eller lige før det lukkende brødteksttag. -->
                <script src="https://apis.google.com/js/platform.js" async defer></script>
                <!-- Placer dette tag der, hvor du ønsker at gengive delingsknap. -->
                <div class="g-plus" data-action="share" data-width="200"></div>
            </div>
            <br/>
            <div id="facebook">
                <div id="fb-root"></div>

                <div class="fb-like" id="facebookshareandlike" data-href="https://teampointless.azurewebsites.net/" data-width="200" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
            @*        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/teampointless/teampointless.social.share.likes.js")