﻿
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Team Pointless</title>
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Areas/Admin/Content/Stylesheet.css")" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="The description of my page" />
</head>