﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Team Pointless</title>
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Areas/Admin/Content/Stylesheet.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Vis Website", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { area = "", id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Hej " + User.Identity.GetUserName(), "Index", "Manage", new { area = "" }, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                            </li>
                        </ul>
                    }
                }
                @*                <ul class="nav navbar-nav">*@
                    @*                </ul>*@
                </div>
            </div>
        </div>

        <div class="container body-content">
            @* Breadcrumbs *@
            <h4>
                @*TODO We should not have logic in views*@
                @Html.ActionLink("Admin", "Index", "Content")
                @if (ViewContext.RouteData.Values["controller"] != "Home")
                {
                    @:> @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())
            }
                @if (ViewContext.RouteData.Values["action"] != "Index")
                {
                    @:> @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
            }
            </h4>
            <div class="container">
                <div class="row">
                    @* Left menu*@
                    <div class="col-md-3">
                
                    </div>
                    @* left menu ends*@
                    @* right menu starts*@
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                    @* right menu ends*@
                </div>
            </div>

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Team Pointless</p>
            </footer>

        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>