﻿@model IEnumerable<TeamPOINTless.Areas.Admin.Models.Subject>

<!DOCTYPE html>
<html>
@Html.Partial(partialViewName:"_HeadAdminArea", model: null)
<body>

    @Html.Partial(partialViewName: "_NavBarAdminArea", model: null)

    <div class="container body-content">
        @Html.Partial(partialViewName:"_Breadcrumbs", model:null)

        <div class="container">
            <div class="row">
                @Html.Partial(partialViewName:"_LeftMenu", model:Model)

                @* right menu starts*@
                <div class="col-md-9">
                    @RenderBody()
                </div>
                @* right menu ends*@
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Team Pointless</p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/teampointless/teampointless.searchTableAndReturnRow.js")
    @Scripts.Render("~/Scripts/teampointless/teampointless.tablepagination.js")
    @RenderSection("scripts", required: false)

</body>
</html>
