﻿@model TeamPOINTless.Areas.Admin.Models.Subject

@using System.Collections
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
@Html.Partial(partialViewName: "_HeadAdminArea", model: null)
<body>

    @Html.Partial(partialViewName: "_NavBarAdminArea", model: null)

    <div class="container body-content">
        @Html.Partial(partialViewName: "_Breadcrumbs", model: null)

        <div class="container">
            <div class="row">
                @* Left menu*@
                <div class="col-md-3">
                    @* TODO We should not have logic in views *@
                    @if (!@ViewContext.RouteData.GetRequiredString("action").ToLower().Equals("index"))
                    {
                        <br /><br />
                        @Html.ActionLink("Menu", "Index", "Content")
                        <br /><br />

                        if (!@ViewContext.RouteData.GetRequiredString("action").ToLower().Equals("content"))
                        {
                            @Html.ActionLink("Indhold område", actionName: "Content", controllerName: "Content")
                        }
                        <br /><br />
                    }
                </div>
                @* left menu ends*@
                @* right menu starts*@
                <div class="col-md-9">
                    @RenderBody()
                </div>
                @* right menu ends*@
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Team Pointless</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/teampointless/teampointless.searchTableAndReturnRow.js")
    @Scripts.Render("~/Scripts/teampointless/teampointless.tablepagination.js")
    @RenderSection("scripts", required: false)
</body>

</html>