﻿@model IEnumerable<TeamPOINTless.Areas.Admin.Models.Subject>

<div class="col-md-3">
    @* TODO We should not have logic in views *@
    @if (!@ViewContext.RouteData.GetRequiredString("action").ToLower().Equals("index"))
    {
        <br /><br />
        @Html.ActionLink("Menu", "Index", "Content")
        <br /><br />
        if (!@ViewContext.RouteData.GetRequiredString("action").ToLower().Equals("content"))
        {
            @Html.ActionLink("Indhold område", "Content", "Content")
        }
        <br /><br />
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <h2 class="subjects">Emner:</h2>
            @*Should we use a helper for this logic or is the MVV? TODO Figure out how we don't have all this logic in the view/layout*@
            @if (Model != null)
            {
                foreach (var subject in Model)
                {
                    <li>
                        <h3>
                                        @Html.ActionLink(linkText: subject.Title, actionName: "Details",
                                controllerName: "Subject", routeValues: new { id = subject.ID }, htmlAttributes: null)
                            
                            </h3>
                    </li>
                }
            }
        </ul>
        <br />
        <h2>
            @Html.ActionLink("+ Lav nyt emne", "Create", "Subject")
        </h2>
    }
</div>

