﻿@model IEnumerable<TeamPOINTless.Areas.Admin.Models.Page>


@*We only want header for subject details because Subject/detail.cshtml only calls _Pages.cshtml once where Content/Content.cshtml calls _Pages.cshtml * *@
@if (@ViewData["from"].Equals("subjectDetails"))
{
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElementAtOrDefault(0).Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAtOrDefault(0).CreatedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAtOrDefault(0).UpdatedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAtOrDefault(0).Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAtOrDefault(0).Visible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAtOrDefault(0).Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).Id)
        </th>
        <th>
            @Html.DisplayName("Belongs to Subject named")
        </th>
        <th>
            Belongs to
            @Html.DisplayNameFor(model => model.ElementAt(0).SubjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).IsFrontPage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).EventDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).ShowEventDateTimeOnFrontPage)
        </th>
    </tr>
}

@{
    var pagesSortedByNewestPageId = Model.OrderByDescending(page => page.Id);
    foreach (var page in pagesSortedByNewestPageId)
    {
        <tr>
            <td>@page.Title;</td>
            <td>@page.CreatedDateTime;</td>
            <td>@page.UpdatedDateTime;</td>
            <td>@page.Position;</td>
            <td>@page.Visible;</td>
            <td>
                @*We only want to show a small part of the content*@
                @if(!String.IsNullOrEmpty(page.Content))
                {
                    if (page.Content.Length > 30)
                    {
                        @(String.Format("{0} {1}", page.Content.Substring(0, 30), "..."))
                    }
                    else
                    {
                        @page.Content;
                    }
                }
            </td>
            <td>@page.Id;</td>
            <td>@ViewData["title"];</td>
            <td>@page.SubjectId;</td>
            <td>@page.IsFrontPage;</td>
            <td>@page.EventDateTime;</td>
            <td>@page.ShowEventDateTimeOnFrontPage;</td>
            <td>
                @Html.ActionLink(linkText: "Edit", actionName: "Edit", controllerName: "Page", routeValues: new { id = page.Id }, htmlAttributes: new { @class = "small-text-link" })
            </td>
            <td>
                @Html.ActionLink(linkText: "Details", actionName: "Details", controllerName: "Page", routeValues: new { id = page.Id }, htmlAttributes: new { @class = "small-text-link" })
            </td>
            <td>
                @Html.ActionLink(linkText: "Delete", actionName: "Delete", controllerName: "Page", routeValues: new { id = page.Id }, htmlAttributes: new { @class = "small-text-link" })
            </td>
        </tr>
    }
}

